
<a class="btn btn-primary mb-3" routerLink="/category/create">Додати</a>

<div *ngIf="categories.length === 0" class="alert alert-info text-center">
  Категорії наразі відсутні.
</div>

<div class="row" *ngIf="categories.length > 0">
  <div *ngFor="let category of categories" class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
      <img
        [src]="category.image ? (environment.imagePath + '400_' + category.image) : 'https://i.imgur.com/JfPpwOA.jpg'"
        [alt]="category.name"
        class="card-img-top"
        style="height: 200px; object-fit: cover;"
      >
      <div class="card-body text-center">
        <h5 class="card-title">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>

